.body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.body-box {
  padding: 50px 0 0;
  min-height: 600px;
}

.box {
  height: auto;
  overflow: hidden;
}

.editBoxBody {
  height: 100%;
  overflow: hidden;
  flex: 1;
}

.flexBox {
  height: 100%;
  overflow: hidden;
  display: flex;
  .flexItem {
    height: auto;
    overflow: hidden;
    flex: 1;
    overflow-y: scroll;
  }
}

.vue-html5-editor > .toolbar > .dashboard {
  position: static;
}

.alertBox {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  left: 0;
  top: 0;
}
