@import "indexCommon";

.editZone .eidt-btn {
  position: absolute;
  right: -130px;
  top: 0;

  .list-group {
    width: 120px;

    .list-group-item {
      width: 120px;
      height: 80px;
      overflow: hidden;
      margin-bottom: 14px;
      border-radius: 5px;
      background: #ffffff;

      img {
        display: block;
        width: 120px;
        height: 80px;
      }
    }
  }
}

.mt10 {
  margin-top: 10px;
}
