<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>首页</title>
</head>

<body>
<div id="app" v-cloak>
    <web-header></web-header>
    <section class="body-box">
        <router-view></router-view>
    </section>
    <web-footer></web-footer>
</div>
<script src=" http://localhost:8888/static/bootstrap/js/Sortable.js"></script>
<script src=" http://localhost:8888/static/plugin/laydate/laydate.js"></script>
<script src="http://api.map.baidu.com/api?v=2.0&ak=UsP2qpOAjTVnGWuxuQmBF4SwVpbOoRP4" type="text/javascript"></script>
</body>

</html>
