.baseList {
    float: left;
    margin-bottom: 20px;
    margin-right: 8px;

    &>span {
        float: left;
        width: 90px;
        font-size: 14px;
        color: #1F2D3D;
        line-height: 30px;
    }

    .input-box {
        float: left;
        width: 115px;
        height: 30px;
        line-height: 30px;
        font-size: 14px;
        color: #000000;
    }
}

.jsons-box {
  border: 1px solid #D3DCE6;
  border-bottom: none;

  .one {
    width: 135px;
    float: left;
    min-height: 40px;
    font-size: 14px;
    color: #5E6D82;
    line-height: 40px;
    text-align: center;
  }

  .two {
    position: relative;
    width: 503px;
    float: left;
    min-height: 40px;
    border-left: 1px solid #D3DCE6;
    font-size: 14px;
    color: #5E6D82;
    box-sizing: border-box;
    padding: 0 22px;
    line-height: 40px;
    text-align: left;
  }

  .t-title {
    overflow: hidden;
    border-bottom: 1px solid #D3DCE6;
    background: #F0F0F0;
  }

  .t-cont {
    overflow: hidden;
    cursor: pointer;
    border-bottom: 1px solid #D3DCE6;

    &:nth-child(odd) {
      background: #f9f9f9;
    }

    &:hover {
      background: #EFF2F7;
    }
  }
}

.jsons-big {
  .one {
    width: 200px;
  }

  .two {
    width: 438px;
  }
}
